body {
  background-color: #f7f3ff;
}

.container {
  padding-top: 10px;
  max-width: 600px;
  text-align: center;
  margin: 40px auto;
  display: block;
  max-width: 500px;
  background: white;
  border-radius: 10px;
}
h1 {
  padding: 30px 10px 30px 10px;
}
.currentContainer {
  display: block;
  padding: 0 10px 30px 10px;
}
.selector {
  padding: 5px;
  width: 300px;
}
.break {
  padding: 10px;
}
.displayLondonCity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("../src/images/unionJack.jpg");
  background-size: cover;
  padding: 10px;
  color: black;
}

.displayTokyoCity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("../src/images/japanFlag.jpg");
  background-size: cover;
  padding: 10px;
  color: black;
}

.displayParisCity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("../src/images/frFlag.jpg");
  background-size: cover;
  padding: 10px;
  color: black;
}

.left-section {
  display: flex;
  align-items: center;
}

.location-box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
}

.location {
  font-size: 24px;
  font-weight: bold;
}

.date {
  font-size: 16px;
  margin-top: 5px;
}

.right-section {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}

.time {
  font-size: 24px;
  font-weight: bold;
}
footer {
  padding: 100px;
  text-align: center;
  font-size: 13px;
  color: rgb(88, 8, 134);
}
